label.radio {
	width: 20vw;
	display: inline-block;
	position: relative;
	font-size: 4.4vw;
	line-height: 1;
	box-sizing: border-box;
	text-align: left;
	padding-left: 4vw;
	margin-bottom: 2vw;
	cursor: pointer;
	color:orange;
}
label.radio.bad {
	font-size: 2.8vw;
	cursor: default;
	color:#FFF;
}
label.radio.solid {
	font-size: 3.8vw;
}

input[type="radio"] {
	position: absolute;
	visibility: hidden;
	appearance:none;
	width: 1px;
	height: 1px;
	left: 0;
	top: 0;
}
input[type="radio"] + span {
}
input[type="radio"] + span:before {
	content: "";
	position: absolute;
	left:0%;
	top:50%;
	border-radius: 100%;
	z-index: 1;
	margin-top: -1.2vw;
	width:3vw;
	height:3vw;
	border:2px solid #f2f2f2;
	box-sizing:border-box;
}

input[type="radio"]:checked + span:before {
	background:orange;
	border-color:orange;
}

label.radio.bad input[type="radio"] + span:before {
	width:2vw;
	height:2vw;
	left:.5vw;
	margin-top: -.9vw;
}
label.radio.solid input[type="radio"] + span:before {
	width:2.5vw;
	height:2.5vw;
	left:.3vw;
}