label.radio {
	width: 90%;

	display: inline-block;
	position: relative;

	font-size: 3vw;
	line-height: 1;
	text-align: left;
	padding: 0px 0px 2px 3.3vw;
	cursor: pointer;
	background:#000;
	color:#A6A9AB;
	/*background:#BA520A;*/
	box-sizing:border-box;
}
label.radio:hover {

}

label.radio span {
	/*height:100%;
	width:80%;
	left:25%;
	top:0;
	position: absolute;
	line-height: 4.8vw;*/
}

input[type="radio"] {
	position: absolute;
	visibility: hidden;
	appearance:none;
	width: 1px;
	height: 1px;
	left: 0;
	top: 0;
}
input[type="radio"] + span:before,
input[type="radio"] + span:after {
	content: "";
	position: absolute;
	left:0%;
	top:50%;
	z-index: 1;
	margin-top: -0.9vw;
	width:2vw;
	height:2vw;
	border:2px solid #F16403;
	box-sizing:border-box;
	background: #000;
	transition:all 0.2s ease  0s;
}

input[type="radio"]:checked + span:after,
label.radio:hover > span:after {
	width:1vw;
	height:1vw;
	top:2.1vw;
	left:0.5vw;
	background:#F16403;

	/*border-color:orange;*/
}
input[type="radio"]:checked + span {
	color:#F16403;
}
label.radio:hover > span {

}