.letter.type-a:after {
   content: "";
   position: absolute;
   left: 0px;
   top: 2.5%;
   width: 0;
   height: 3%;
   border-style: solid;
   border-width: 9.2vw;
   background:transparent;
}
.letter.e.type-a:after {
	border-color: transparent transparent transparent #000;
}
.letter.m.type-a:after {
	border-color: #000 transparent transparent transparent;
	border-width: 9.76vw;
	width:3%;
	height:0;
	top:-2.5%;
}
.letter.g.type-a:after {
	border-color: transparent transparent #000 transparent;
	border-width: 9.76vw;
	width:3%;
	height:0;
	top:auto;
	bottom:-4.5%;
}
.letter.type-a > .background:before {
	border-style: solid;
	border-width: 10.3vw;
	left: 0%;
	top:0%;
	width: 0;
	height:0;
	margin: 0;
	border-style: solid;
	border-width: 10.3vw;
	border-color: #000;
	left:-3.5%;
	top: -3.5%;
}
.letter.e.type-a > .background:before {
	height: 3%;
	border-left-color: #414042;
	top: -6%;

}
.letter.m.type-a > .background:before {
	width:3%;
	border-top-color: #414042;
	left: -6%;
}
.letter.g.type-a > .background:before {
	width:3%;
	border-bottom-color: #414042;
	left: -6%;
}


.letter.type-b > .background {
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
}


.letter.e.type-c > .background {
	width:97%;
}
.letter.m.type-c > .background {
	height:97%;
}
.letter.g.type-c > .background {
	width:97%;
}
.letter.g.type-c > .background:after {
	content:"";
	background:#414042;
	width:3%;
	height:48.5%;
	right:0;
	bottom:0;
	position: absolute;
}
.solved.DB .letter.g.type-c .background:after {
	background: rgba(240, 150, 9, .7);
}
.letter.g.type-c:hover > .background:after {
	background: rgba(240, 150, 9, .4);
}