body, html {
  background: #000;
  width: 100%;
  height: 100%;
}

body {
  display: table;
  font-family: sans-serif;
  font-size: 16px;
}

.wrapper {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.content {
  color: #000;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in;
  top: 150%;
}

.active-content .content {
  color: #ececec;
  top: 120%;
}

.letter {
  background: #414042;
  width: 20vw;
  height: 20vw;
  display: inline-block;
  margin: 0 3vw 0 -4px;
  position: relative;
  left: 0;
  top: 0;
  transition: left 0.3s ease-out 0s, top 0.3s ease-out 0s, box-shadow 0.2s ease-in 0s, background 0.2s ease-in 0s;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
}
.letter.active-content {
  box-shadow: inset 0 0 10px 1px transparent;
  background: #555457;
}
.letter.active-content > div:before {
  background: #555457;
}
.letter.active-content {
  top: -10vw;
}
.letter.active-content.e:after {
  height: 70%;
}
.letter.active-content.m:after {
  width: 70%;
}
.letter.active-content.g:after {
  height: 25.1%;
}
.letter > .background {
  width: 70%;
  height: 70%;
  background: #000;
  position: absolute;
  top: 15%;
  left: 15%;
}
.letter > .background:before {
  content: "";
  display: block;
  position: absolute;
  background: #414042;
  transition: background 0.2s ease-in 0s;
}
.letter:after {
  content: "";
  position: absolute;
  right: 0;
  top: 15%;
  width: 15%;
  height: 0%;
  background: #000;
  transition: all 0.3s ease-out 0s;
}
.letter.m:after {
  height: 15%;
  width: 0%;
  top: auto;
  bottom: 0;
  right: 15%;
}
.letter.e > .background:before {
  top: 50%;
  left: 0;
  width: 60%;
  height: 26%;
  margin-top: -14%;
}
.letter.m > .background:before {
  left: 50%;
  width: 26%;
  height: 60%;
  margin-left: -13%;
}
.letter.g > .background:before {
  top: 50%;
  right: 0;
  width: 60%;
  height: 26%;
  margin-top: -14%;
}

.start-animation .letter {
  animation: rotate 2.5s infinite ease-in-out 1s forwards;
}
.start-animation .letter.e:first-child {
  left: 35%;
}
.start-animation .letter.e:last-child {
  left: -35%;
}
.start-animation .letter.m {
  left: 11.75%;
  z-index: 2;
}
.start-animation .letter.g {
  left: -11.75%;
}

@keyframes rotate {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
